<nav id='navColumn' class='slide--effect--left' style='flex-shrink: 0'>
    <div style='height:51px'></div>
    <div class='centralizeContentColumn' style='margin-top:25px'>
        <div class='navColumnContent__element'>
            <span class='text'><%= __('_logged_as') %> <%= user.username %></span>
        </div>
        <hr class='navColumnContent__division' />
        <div class='navColumnContent__element column'>
            <% if (activeLink == 'basket') { %>
                <a class='noUnderline--link active--link' href='/user/gtd/basket'><%= __('_in-basket') %></a>
            <% } else { %>
                <a class='noUnderline--link' href='/user/gtd/basket'><%= __('_in-basket') %></a>
            <% } %>
            <% if (activeLink == 'calendar') { %>
                <a class='noUnderline--link active--link' href='/user/gtd/calendar'><%= __('_calendar') %></a>
            <% } else { %>
                <a class='noUnderline--link' href='/user/gtd/calendar'><%= __('_calendar') %></a>
            <% } %>
            <% if (activeLink == 'next actions') { %>
                <a class='noUnderline--link active--link' href='/user/gtd/next-actions'><%= __('next_actions') %></a>
            <% } else { %>
                <a class='noUnderline--link' href='/user/gtd/next-actions'><%= __('next_actions') %></a>
            <% } %>
        </div>
        <hr class='navColumnContent__division' />
        <div class='navColumnContent__element column'>
            <% if (activeLink == 'projects') { %>
                <a class='noUnderline--link active--link' href='/user/gtd/projects'><%= __('projects') %></a>
            <% } else { %>
                <a class='noUnderline--link' href='/user/gtd/projects'><%= __('projects') %></a>
            <% } %>
            <% if (activeLink == 'someday') { %>
                <a class='noUnderline--link active--link' href='/user/gtd/someday'><%= __('someday/maybe') %></a>
            <% } else { %>
                <a class='noUnderline--link' href='/user/gtd/someday'><%= __('someday/maybe') %></a>
            <% } %>
            <% if (activeLink == 'waiting') { %>
                <a class='noUnderline--link active--link' href='/user/gtd/waiting'><%= __('waiting') %></a>
            <% } else { %>
                <a class='noUnderline--link' href='/user/gtd/waiting'><%= __('waiting') %></a>
            <% } %>
        </div>
        <hr class='navColumnContent__division' />
        <div class='navColumnContent__element column'>
            <a class='noUnderline--link' href='/users/logout'><%= __('_logout') %></a>
        </div>
    </div>
</nav>