<nav id='navBar' class='slide--effect'>
    <div id='navBar__desktop' class='alignContent'>
        <div class='alignContent'>
            <div class='navBar__element'>
                <a href='/' class='noUnderline--link'><%= __('home') %></a>
            </div>
        </div>
        <div class='alignContent rowReversed'>
            <div class='navBar__element dropdownDesktop'>
                <a class='noUnderline--link' href='#'><%= __('_current_language') %></a>
                <div class='card align--text hided'>
                    <div class='dropdownDesktop__element'>
                        <a class='noUnderline--link' href='/en'>english</a>
                    </div>
                    <div class='dropdownDesktop__element'>
                        <a class='noUnderline--link' href='/pt-BR'>português (Brasil)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='navBar__mobile' class='alignContent'>
        <div class='alignContent' >
            <div class='navBar__element'>
                <div>
                </div>
            </div>
        </div>
        <div class='rowReversed alignContent'>
            <div id='navBarMobile__toggle' class='navBar__element'>
                <button id='navBarMobileButton' class='reset--button'><i class="fas fa-bars icon"></i><i class="fas fa-times icon mobile--rotated"></i></button>
                <div class='card hided navBarMobile__content centralizeContentColumn' style='width:200px'>
                    <div class='navBarMobileDropdown__element'>
                        <a href='/' class='noUnderline--link'><%= __('home') %></a>
                    </div>
                    <% if (!locals.isLogged) {%>
                    <div class='navBarMobileDropdown__element'>
                        <a href='/user/login' class='noUnderline--link'><%= ('login') %></a>
                    </div>
                    <% } else {%>
                    <div class='navBarMobileDropdown__element'>
                        <a href='/users/logout' class='noUnderline--link'><%= ('logout') %></a>
                    </div>
                    <div class='navBarMobileDropdown__element'>
                        <a href='/user' class='noUnderline--link'><%= __('user') %></a>
                    </div>  
                <% } %>
                    <div class='navBarMobileDropdown__element navBarMobile__subDropdown'>
                        <a class='noUnderline--link' href='#'><%= __('_current_language') %></a>
                        <div class='card align--text hided'>
                            <div class='navBarMobileSubDropdown__element'>
                                <a class='noUnderline--link' href='/en'>english</a>
                            </div>
                            <div class='navBarMobileSubDropdown__element'>
                                <a class='noUnderline--link' href='/pt-BR'>português (Brasil)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>