<div id='navBar' class='alignContent slide--effect'>
    <div class='alignContent navBar__left'>
        <div>
            <div class='navBar__element'>
                <a href='/' class='noUnderline--link'><%= __('home') %></a>
            </div>
        </div>
    </div>
    <div class='navBar__right rowReversed alignContent'>
        <button id='main--menu--button' class='reset--button'><i class="fas fa-bars icon"></i><i class="fas fa-times icon"></i></button>
        <div class='alignContent'>
            <div class='navBar__element dropdown'>
                <a class='noUnderline--link' href='#'><%= __('_current_language') %></a>
                <div class='card align--text hided'>
                    <div class='dropdown__element'>
                        <a class='noUnderline--link' href='/en'>english</a>
                    </div>
                    <div class='dropdown__element'>
                        <a class='noUnderline--link' href='/pt-BR'>português (Brasil)</a>
                    </div>
                </div>
            </div>
            <% if (!locals.isLogged) {%>
                <div class='navBar__element'>
                    <a href='/user/login' class='noUnderline--link'><%= ('login') %></a>
                </div>
            <% } else {%>
                <div class='navBar__element'>
                    <a href='/users/logout' class='noUnderline--link'><%= ('logout') %></a>
                </div>
                <div class='navBar__element'>
                    <a href='/user' class='noUnderline--link'><%= __('user') %></a>
                </div>  
            <% } %>
            <div class='navBar__element'>
                <a class='noUnderline--link' href='#'>contato</a>
            </div>
        </div>
    </div>
</div>
<div></div>