<section class='centralizeContent' id='userForms'>
    <div>
        <article class='form card userForm hided' id='addSimpleActionForm'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                <div class='form__element centralizeContent'>
                    <h1 class='title usefForm--title'><%= __('ADD_ACTION') %></h1>
                </div>
                <div class='form__element centralizeContent'>
                    <textarea v-model='v.forms.addAction.title' class='textBox' style='height: 41px' placeholder='<%= __("Title") %>...'></textarea>                    
                </div>
                <div class='form__element centralizeContent'>
                    <textarea v-model='v.forms.addAction.description' class='textBox' style='height: 168px' placeholder='<%= __("Description") %>...'></textarea>
                </div>
                <div class='form__element centralizeContent'>
                    <button class='form--button' @click='addAction()'><%= __('Add_action') %></button>
                </div>
            </div>
        </article>
        <article class='form card userForm hided' id='add_changeTags' style='margin-top: 50px'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                <div class='form__element alignContent'>
                    <h1 class='title usefForm--title'><%= __('ADD/EDIT_TAG') %></h1>
                </div>
                <div class='form__element alignContent'>
                    <div class='iconGroup centralizeContent'>
                        <div>
                            <div class='centralizeContent icon--selector' @click='selectTagForm("waiting")' id='waiting' title='<%= __("waiting") %>'>
                                <i class="fas fa-hourglass-half icon"></i>
                            </div>
                            <div class='centralizeContent icon--selector'  @click='selectTagForm("maybe")' id='maybe' title='<%= __("someday/maybe") %>'>
                                <i class="fas fa-question icon"></i>
                            </div>
                            <div class='centralizeContent icon--selector' @click='selectTagForm("nextAction")' id='nextAction' title='<%= __("next_actions") %>'>
                                <i class="fas fa-forward icon"></i>
                            </div>
                            <div class='centralizeContent icon--selector' @click='selectTagForm("calendar")' id='calendar' title='<%= __("_calendar") %>'>
                                <i class="fas fa-calendar-alt icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if='v.forms.editTag.newTag == "calendar"' class='form__element centralizeContent'>
                    <div>
                        <div>
                            <textarea v-model='v.forms.addAction.title' class='textBox' style='height: 20px' placeholder='<%= __("Date") %>: DD/MM/YYYY'></textarea>
                        </div>
                        <div>
                            <textarea v-model='v.forms.addAction.title' class='textBox' style='height: 20px' placeholder='<%= __("Hour") %>: HH:MM (<%= __("Optional") %>)'></textarea>
                        </div>                        
                    </div>
                </div>
                <div class='form__element centralizeContent'>
                    <button class='form--button' @click='editTag()'><%= __('Edit_action') %></button>
                </div>
            </div>
        </article>
        <article class='form card userForm hided' id='editAction'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                <div class='form__element centralizeContent'>
                    <h1 class='title usefForm--title'><%= __('EDIT_ACTION') %></h1>
                </div>
                <div class='form__element centralizeContent'>
                    <textarea v-model='v.forms.editAction.title' class='textBox' style='height: 41px' placeholder='<%= __("Title") %>...'></textarea>
                </div>
                <div class='form__element centralizeContent'>
                    <textarea v-model='v.forms.editAction.description' class='textBox' style='height: 168px' placeholder='<%= __("Description") %>...'></textarea>
                </div>
                <div class='form__element centralizeContent'>
                    <button class='form--button' @click='editAction()'><%= __('Edit_action') %></button>
                </div>
            </div>
        </article>
        <article class='form card userForm hided' id='actionToProject'>
            <button class='reset--button user__form__close' @click='hideAllSelectionBars()'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                <div class='form__element centralizeContent'>
                    <h1 class='title usefForm--title'><%= __('ADD_TO_PROJECT/CREATE_PROJECT') %></h1>
                </div>
                <div>
                    <nav class='form__element selectionBar column' style='height: 200px'>
                        <div class='selectionBar__links row'>
                            <div>
                                <div class='selectionBar--link centralizeContent selectionBar--selected' >
                                    <a><%= __('CREATE') %></a>
                                </div>
                                <div class='selectionBar__content' id='selectionBar_actionToProject_main'>
                                    <span class='selectionBar__element'><%= __('_Create_a_project_with_the_same_name_of_this_action') %></span>
                                    <div class='selectionBar__element checkBox' @click='v.forms.project.action.delete = !v.forms.project.action.delete'>
                                        <span><%= __('delete_action') %><div style='text-align: center'><i class="fas fa-check icon--tiny"></i></div></span>
                                    </div>
                                    <div class='selectionBar__element form__element centralizeContent'>
                                        <button class='form--button'><%= __('Create_project') %></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class='selectionBar--link centralizeContent'>
                                    <a><%= __('ADD') %></a>
                                </div>
                                <div class='selectionBar__content hided'>
                                    <span class='selectionBar__element'><%= __('Add_this_action_to_the_selected_project') %></span>
                                    <div class='selectionBar__element centralizeContent' >
                                        <button class='form--button'><%= __('Create_project') %></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </article>
        <article class='form card userForm hided' id='addProject'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                <div>
                    <div class='form__element centralizeContent'>
                        <h1 class='title usefForm--title'><%= __('ADD_PROJECT') %></h1>
                    </div>
                    <div class='form__element'>
                        <textarea v-model='v.forms.project.title' class='textBox' style='height: 41px' placeholder='<%= __("Title") %>...'></textarea>
                    </div>
                    <div class='form__element centralizeContent'>
                        <button class='form--button' @click='createProject()'><%= __('Create_project') %></button>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>