<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title><%= __('Reset password') %></title>
</head>

<body>
<div id='app'>
  <fixed>
    <navigation-bar>
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'><%= __("Home") %></link-red></nav-element>
        <nav-element animation='pop2'><link-red href='/login'><%= __("Login") %></link-red></nav-element>
        <% if (locals.user) {%>
          <nav-element animation='pop2'><link-red href='/user'><%= __("User") %></link-red></nav-element>
        <% } %>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR' value='Português(Brasil)'></drop-link>
            <drop-link href='/en' value='English'></drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-left'>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/' value='<%= __("Home") %>'></drop-link>
            <drop-link href='/login' value='<%= __("Login") %>'></drop-link>
            <% if (user) {%>
              <drop-link href='/user' value='<%= __("User") %>'></drop-link>
            <% } %>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR' value='Português(Brasil)'>Português(Brasil)</drop-link>
              <drop-link href='/en' value='English'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
    <login-form :show='true'>
      <form method='post' action='/login'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('RESET PASSWORD') %></title-big>
        </form-element>
        <form-element class='centralizeContent' animation='pop2'>
          <input-pass tabindex="2" :opened='showPasswords' name='password' placeholder='<%= __("New password") %>:' @click='togglePasswordVisiblity' :value='newPassword' @change='(v) => newPassword = v'></input-pass>
        </form-element>
        <form-element class='centralizeContent' animation='pop2'>
          <input-pass tabindex="2" :opened='showPasswords' name='password' placeholder='<%= __("Confirm password") %>:' @click='togglePasswordVisiblity' :value='newConfirmPassword' @change='(v) => newConfirmPassword = v'></input-pass>
        </form-element>
      </form>
    </login-form>
  </fixed>
</div>


<% include partials/footer %>
</body>

</html>
