<!doctype html>


<html lang='<%= __("_lang") %>'>

<head>
    <title>In-basket</title>
    <% include ../../partials/head %>
</head>

<body>
<section id='background'>

<section class='centralizeContent' id='userForms'>
    <div>
        <div class='form card userForm hided' id='addSimpleActionForm'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                <div class='form__element centralizeContent'>
                    <h1 class='title' style='margin-top: 0;margin-bottom: 10px'><%= __('ADD_ACTION') %></h1>
                </div>
                <div class='form__element centralizeContent'>
                    <textarea class='textBox' style='height: 41px' placeholder='<%= __("Title") %>...'></textarea>
                </div>
                <div class='form__element centralizeContent'>
                    <textarea class='textBox' style='height: 168px' placeholder='<%= __("Description") %>...'></textarea>
                </div>
                <div class='form__element centralizeContent'>
                    <button class='form--button' type='submit'><%= __('Add_action') %></button>
                </div>
            </div>
        </div>
        <div class='form card userForm hided' id='add_changeTags'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                add/changeTags
            </div>
        </div>
        <div class='form card userForm hided' id='editAction'>
            <button class='reset--button user__form__close'><i class='fa fa-times icon close--icon user--icon'></i></button>
            <div>
                editAction
            </div>
        </div>
    </div>
</section>

<div id='body'>
    <% include ../../partials/menu %>
    <% include ../../partials/menu-vertical %>
    <div id='content'>
        <div id='content__cards' class='slide--effect--right'>
            <div style='height: 50px'></div>
            <div class='card action--bar alignContent'>
                <button class='reset--button' style='z-index: 4' onclick='actions.openUserForm("addSimpleActionForm")'><i class='fa fa-plus icon action--icon user--icon'></i></button>
            </div>
            <div class='action'>
                <div class='card action__header alignContent'>
                    <div class='action__title alignContent'>
                        <span class='text'>Limpar computador.</span>
                    </div>
                    <div class='action__buttons rowReversed'>
                        <button class='reset--button' title='<%= __("_delete_action") %>'><i class='fa fa-times icon action--icon user--icon'></i></button>
                        <button class='reset--button' title='<%= __("_edit_action") %>' onclick='actions.openUserForm("editAction")'><i class='fa fa-edit icon action--icon user--icon'></i></button>
                        <button class='reset--button' title='<%= __("add/edit_tag") %>' onclick='actions.openUserForm("add_changeTags")'><i class='fa fa-tag icon action--icon user--icon'></i></button>
                    </div>
                </div>
                <div class='action__content card'>
                    <span class='text'> Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a</span>
                </div>
            </div>
        </div>
        <div id='content__ads'>
        </div>
    </div>
</div>


</section>
<% include ../../partials/footer %>
</body>

</html>