<!doctype html>


<html lang='<%= __("_lang") %>'>

<head>
    <title>Calendar</title>
    <% include ../../partials/head %>
</head>

<body>
<section id='background'>

<% include ../../partials/user-forms %>

{{ v.graph.square_title = "<%= __('actions') %>" }}

<div id='body'>
    <% include ../../partials/menu %>
    <% include ../../partials/menu-vertical %>
    <div id='content'>
        <div id='content__cards' class='slide--effect--right'>
            <div style='height: 50px'></div>
            <div class='graph card'>
                <h1 class='title'>{{ getCurrendYear()}}</h1>
                <div class='graph__table'>
                    <div class='graphTable__weekdays columnAround'>
                        <span class='text'><%= __('Mon') %></span>
                        <span class='text'><%= __('Wed') %></span>
                        <span class='text'><%= __('Fri') %></span>
                    </div>
                    <div class='graphTable__months rowAround alignContent'>
                        <span class='text'>Jan</span>
                        <span class='text'><%= __('Feb') %></span>
                        <span class='text'>Mar</span>
                        <span class='text'><%= __('Apr') %></span>
                        <span class='text'><%= __('May') %></span>
                        <span class='text'>Jun</span>
                        <span class='text'>Jul</span>
                        <span class='text'><%= __('Aug') %></span>
                        <span class='text'><%= __('Sep') %></span>
                        <span class='text'><%= __('Oct') %></span>
                        <span class='text'>Nov</span>
                        <span class='text'><%= __('Dec') %></span>
                    </div>
                    <div class='graphTable__squares'>
                    </div>
                </div>
                <div class='graphTable__info alignContent rowReversed'>
                    <span class='text'><%= __('More_actions') %></span>
                    <div class='square' :data-title='"10 " + v.graph.square_title' style='margin-right: 8px;background-color: #003800'></div>
                    <div class='square' :data-title='"6 " + v.graph.square_title' style='margin-right: 3px;background-color: #007a02'></div>
                    <div class='square' :data-title='"4 " + v.graph.square_title' style='margin-right: 3px;background-color: #8ce981'></div>
                    <div class='square' :data-title='"1 " + v.graph.square_title' style='margin-right: 3px;background-color: #caff75'></div>
                    <div class='square' :data-title='"0 " + v.graph.square_title' style='margin-right: 3px;margin-left: 8px'></div>
                    <span class='text'><%= __('Less_actions') %></span>
                </div>
            </div>
            <div class='card action--bar alignContent' id='calendarActionBar'>
                <button class='reset--button' data-title='<%= __("add_action") %>' onclick='actions.cleanActionData();actions.openUserForm("addTimedActionSection");actions.v.actionData.tag = "calendar"'><i class='fa fa-plus icon action--icon user--icon'></i></button>
                <div class='calendar--bar alignContent rowReversed'>
                    <input class='textBox' style='height: 12px;width: 90px' v-model='v.graph.date' />
                    <span class='status--alert hided' style='margin-right: 20px'> FF</span>
                </div>
            </div>
                <template v-if='v.user'>
                    <template v-if='v.projects'>
                    <template v-for='j in v.projects.length'>
                        <template v-for='i in v.projects[j - 1].actions.length'>
                        <template v-if='displayProjectAction(v.projects[j - 1].actions[i - 1].id).tag === "calendar"'>
                        <template v-if='isTheSelectedDate(displayProjectAction(v.projects[j - 1].actions[i - 1].id))'>
                            <div class='action'>
                                <div class='card action__header alignContent'>
                                    <div class='action__title alignContent'>
                                        <span class='text'>{{ displayProjectAction(v.projects[j - 1].actions[i - 1].id).project.title}}<span class='dark--text'> | </span>{{ displayProjectAction(v.projects[j - 1].actions[i - 1].id).project.order }} <span class='dark--text'> | </span> {{ displayProjectAction(v.projects[j - 1].actions[i - 1].id).title }}<span class='dark--text'> {{displayProjectAction(v.projects[j - 1].actions[i - 1].id).calendar.time}} </span></span> 
                                    </div>
                                    <div class='actionButtonDropdown rowReversed'>
                                        <button class='reset--button'><i class="fas fa-ellipsis-v icon action--icon"></i></button>
                                        <div class='rowReversed'>
                                            <div class='action__buttons rowReversed'>
                                                <button class='reset--button' data-title='<%= __("_delete_action") %>' @click='deleteProjectAction(v.projects[j - 1].actions[i - 1].id)'><i class='fa fa-times icon action--icon user--icon'></i></button>
                                                <button class='reset--button' data-title='<%= __("_edit_action") %>' @click='getDataFromAction(displayProjectAction(v.projects[j - 1].actions[i - 1].id));openUserForm("editProjectTimedAction");hideAllSelectionBars()'><i class='fa fa-edit icon action--icon user--icon'></i></button>
                                                <button class='reset--button' data-title='<%= __("add/edit_tag") %>' @click='getDataFromAction(displayProjectAction(v.projects[j - 1].actions[i - 1].id));openUserForm("add_changeTags");selectTagForm("" + v.user[i - 1].tag);hideAllSelectionBars()'><i class='fa fa-tag icon action--icon user--icon'></i></button>
                                                <button class='reset--button' data-title='<%= __("remove_from_project") %>' @click='getDataFromAction(displayProjectAction(v.projects[j - 1].actions[i - 1].id));removeFromProject(v.projects[j - 1].actions[i - 1].id, v.projects[j - 1].id)'><i class="fas fa-external-link-alt icon action--icon user--icon"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='action__content card'>
                                    <span class='text'> {{ displayProjectAction(v.projects[j - 1].actions[i - 1].id).description }} </span>
                                </div>
                            </div>
                        </template>
                        </template>
                        </template>
                    </template>
                    </template>
                    <template v-for='i in v.user.length'>
                    <template v-if='!v.user[i - 1].project'>
                        <template v-if='v.user[i - 1].tag == "calendar"'>
                        <template v-if='isTheSelectedDate(v.user[i - 1])'>
                            <div class='action'>
                                    <div class='card action__header alignContent'>
                                    <div class='action__title alignContent'>
                                        <span class='text'> {{ v.user[i - 1].title }} <span class='dark--text'>| </span>{{ v.user[i - 1].calendar.time}}</span>
                                    </div>
                                    <div class='actionButtonDropdown rowReversed'>
                                        <button class='reset--button'><i class="fas fa-ellipsis-v icon action--icon"></i></button>
                                        <div class='rowReversed'>
                                            <div class='action__buttons rowReversed'>
                                                <button class='reset--button' data-title='<%= __("_delete_action") %>' @click='deleteAction(v.user[i - 1].id);hideAllSelectionBars()'><i class='fa fa-times icon action--icon user--icon'></i></button>
                                                <button class='reset--button' data-title='<%= __("_edit_action") %>' @click='openUserForm("editTimedAction");getDataFromAction(v.user[i - 1]);hideAllSelectionBars()'><i class='fa fa-edit icon action--icon user--icon'></i></button>
                                                <button class='reset--button' data-title='<%= __("add/edit_tag") %>' @click='openUserForm("add_changeTags");getDataFromAction(v.user[i - 1]);selectTagForm("" + v.user[i - 1].tag);hideAllSelectionBars()'><i class='fa fa-tag icon action--icon user--icon'></i></button>
                                                <button class='reset--button' data-title='<%= __("projects") %>' @click='openUserForm("actionToProject");getDataFromAction(v.user[i - 1]);v.projectData.title = "<%= __("select_project") %>:";showMainOptionSelectionBars()'><i class="fas fa-project-diagram icon action--icon user--icon"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='action__content card'>
                                    <span class='text'> {{ v.user[i - 1].description }} </span>
                                </div>
                            </div>
                        </template>
                        </template>
                    </template>
                    </template>
                    {{ changedValue }}
                </template>                
                <div style='height: 100px'></div>
        </div>
        <div id='content__ads'>
        </div>
    </div>
</div>

</section>
<% include ../../partials/footer %>
<script>
    actions.getUser()
    actions.v.graph.createGraph()
    actions.v.graph.applyEventHandlers()
    actions.calculateNumberOfActionsAndPaintAllSquares()
</script>
</body>

</html>