<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>GTDF</title>
</head>

<body>
<div id='app'>
  <fixed>
  <navigation-bar>
  <template slot='desktop-left'>
    <nav-element animation='pop1'><link-red href='/'><%= __('Home') %></link-red></nav-element>
    <nav-element animation='pop2'><link-red href='/login'><%= __('Login') %></link-red></nav-element>
    <% if (locals.user) {%>
      <nav-element animation='pop2'><link-red href='/user'><%= __('User') %></link-red></nav-element>
    <% } %>
  </template>
  <template slot='desktop-right'>
    <nav-element animation='pop2'>
      <dropdown type='link-red' placeholder="<%= __('default_language') %>">
        <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
        <drop-link href='/en'>English</drop-link>
      </dropdown>
    </nav-element>
  </template>
  <template slot='mobile-left'>
    
  </template>
  <template slot='mobile-right'>
    <transition name='pop2'>
      <nav-dropdown>
        <drop-link href='/'><%= __('Home') %></drop-link>
        <drop-link href='/login'><%= __('Login') %></drop-link>
        <% if (user) {%>
          <drop-link href='/user'><%= __('User') %></drop-link>
        <% } %>
        <sub-dropdown placeholder="<%= __('default_language') %>">
          <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
          <drop-link href='/en'>English</drop-link>
        </sub-dropdown>
      </nav-dropdown>
    </transition>
  </template>
</navigation-bar>
  </fixed>
  <div style='height: 50px'></div>

  <div id='calendar-back'>
    <div>
      <div id='main-logo'></div>
      <div id='main-title'>
        <h1 class='title'>What can it do for me?</h1>
        <p class='text'>Aliquam eu luctus elit. In ac elementum lectus. In suscipit maximus turpis at tempor. Nulla mi tortor, mollis ut libero a, pellentesque ultrices nunc.</p>
      </div>
    </div>
    <svg viewBox='0 0 100 100' preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100" style="fill:#2d323a" />
    </svg>
  </div>
  <div id='drag-drop'>
    <div class='content'>
      <h1 class='title'>Drag and Drop</h1>
      <p class='text'>Aliquam eu luctus elit. In ac elementum lectus. In suscipit maximus turpis at tempor. Nulla mi tortor, mollis ut libero a, pellentesque ultrices nunc.</p>
    </div>
    <div id='cards'>
      <div>
      </div>
    </div>
    <svg viewBox='0 0 100 100' preserveAspectRatio="none">
      <polygon points="0,0 100,0 0,100" style="fill:#2d323a" />
    </svg>
  </div>

  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  <p>d</p>
  
  <a href='/begin'><%= __('Begin') %></a>
  <p></p>

</div>

<% include partials/footer %>
</body>

</html>