<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title><%= __('Getting Things Done for Free app: manage your time and your actions') %></title>
</head>

<body>
<div id='app'>
  <fixed>
  <navigation-bar>
    {{ setLanguage("<%= __('lang') %>") }}
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'><%= __("Home") %></link-red></nav-element>
        <% if (locals.user) {%>
          <nav-element animation='pop2'><link-red href='/logout'><%= __("Logout") %></link-red></nav-element>          
          <nav-element animation='pop2'><link-red href='/user'><%= __("User") %></link-red></nav-element>
        <% } else { %>
          <nav-element animation='pop2'><link-red href='/login'><%= __("Login") %></link-red></nav-element>
        <% } %>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR' value='Português(Brasil)'></drop-link>
            <drop-link href='/en' value='English'></drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-left'>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/' value='<%= __("Home") %>'></drop-link>
            <% if (locals.user) {%>
              <drop-link href='/logout' value='<%= __("Logout") %>'></drop-link>
              <drop-link href='/user' value='<%= __("User") %>'></drop-link>
            <% } else {%>
              <drop-link href='/login' value='<%= __("Login") %>'></drop-link>
            <% } %>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR' value='Português(Brasil)'>Português(Brasil)</drop-link>
              <drop-link href='/en' value='English'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
  </fixed>
  <div style='height: 50px'></div>

    <div id='main'>
      <div class='come-from-above'>
        <div>
          <img src='/images/logobig.png' alt='Getting Things Done Logo' />
        </div>
        <h1 id='gtdf'>Getting Things Done for <strong>Free</strong></h1>
        <div>
          <h1><%= __('GTD or "Getting Things Done" is a time management framework for organizing and tracking your tasks, projects and ideas.') %></h1>
        </div>
        <div>
          <link-button-back tabindex='1' href='/user-guest'><%= __('Enter as a guest') %></link-button-back>
          <link-button-back tabindex='2' href='/sign-up'><%= __('Create account') %></link-button-back>
        </div>
      </div>
    </div>
    <div class='land-title come-from-left'>
      <h2><%= __('How does it work?') %></h2>
    </div>
    <div class='grid come-from-right'>
      <div>
        <div class='land-sub-title card-shadow land-card'>
          <h3>Drag and drop</h3>
          <div>
            <p><%= __('Reorder your stuff with ease using intuitive drag and drop') %>!</p>
            <div class='demo-actions'>
              <draggable :options="{handle:'.draggable', animation: 300}">
                <transition-group name='flip-list' tag='div'>
                  <demo-action title='<%= __("Enter as a guest") %>' description='<%= __("Click on the enter as a guest button") %>' :key='0' :id='0'>
                  </demo-action>
                  <demo-action title='<%= __("Test web app") %>' description='<%= __("Get in touch with all the functionalities") %>' :key='0' :id='0'>
                  </demo-action>
                  <demo-action title='<%= __("Create account") %>' description='<%= __("Click on the create account link") %>' :key='0' :id='0'>
                  </demo-action>
                  <demo-action title='<%= __("Login") %>' description='<%= __("Enter with the created account") %>' :key='0' :id='0'>
                  </demo-action>
                  <demo-action title='<%= __("Start getting your stuff together!") %>' description='<%= __("Use the app anywhere forever!") %>' :key='0' :id='0'>
                  </demo-action>
                </transition-group>
              </draggable>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='land-sub-title card-shadow land-card'>
          <h3><%= __('Contexts') %></h3>
          <div>
            <p><%= __('Show different action lists in different contexts or locations!') %></p>
            <div id='demo-actions'>
              <div id='demo-contexts'>
                <div class='demo-select-options'>
                  <select-option placeholder='<%= __("current context:") %>' :selected='place' @update='(newPlace)=>{this.place = newPlace}' animation='pop9' :sidebar='true'>
                    <drop-link value='show all'></drop-link>
                    <drop-link value='<%= __("Home") %>'></drop-link>
                    <drop-link value='<%= __("Work") %>'></drop-link>
                  </select-option>
                </div>
              </div>
              <div class='demo-actions overflow-hidden'>
                <div>
                <draggable :options="{handle:'.draggable', animation: 300}">
                  <transition-group name='flip-list' tag='div'>
                    <demo-action v-if='place == "<%= __('Home') %>" || place == "show all"' title='<%= __("Make calls") %>' description='<%= __("Call and talk to Karen about the kids") %>' :key='0' :id='0'>
                    </demo-action>
                    <demo-action v-if='place == "<%= __('Home') %>" || place == "show all"' title='<%= __("Fix the door") %>' description='<%= __("Door stoped working after the party for unknown reasons") %>' :key='0' :id='0'>
                    </demo-action>
                    <demo-action v-if='place == "<%= __('Work') %>" || place == "show all"' title='<%= __("Get your money back") %>' description='<%= __("Michael stole your money before going on vacation") %>' :key='0' :id='0'>
                    </demo-action>
                  </transition-group>
                </draggable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='land-sub-title card-shadow land-card'>
          <h3><%= __('Synchronization') %></h3>
          <div>
            <p><%= __('All of your stuff are synchronized with the database, that way, any changes on the desktop will also appear on mobile and vice-versa!') %></p>
            <div class='centralizeContent'>
              <i class="fas fa-sync fa-spin"></i>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='land-sub-title card-shadow land-card'>
          <h3><%= __('Mobile support') %></h3>
          <div>
            <p><%= __('UI meticously crafted for max mobile user experience!') %></p>
            <div class='centralizeContent'>
              <i class="fas fa-mobile"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <div id='footer'>
        <div>
          <div style='margin-top: 30px;'><%= __('This is an open source project, feel free to contribute:') %> <link-blue href='https://github.com/Gustavodacrvi/GTDF' target='_blank'>https://github.com/Gustavodacrvi/GTDF</link-blue></div>
          <div>
            <%= __('Made by') %>: Gustavo da Cruz Vieira</br>
            <%= __('Contact') %>: gettingthingsdoneforfree@gmail.com
          </div>
        </div>
      </div>
    </div>

<% include partials/footer %>
</body>

</html>