<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <% include partials/head %>

    <link rel='stylesheet' href='/css/loginsign.css' type='text/css'/>
</head>

<body>
    <div class='loginSignUpBackground'>
        <form>
            <div class='loginSignUpBox'>
                <div class='loginSignUp__title'>
                    <h1 class='h1--title'><%= __('loginTitle') %></h1>
                </div>
                <div class='login__input'>
                    <div class='login__input__tags'>
                        <input autocomplete='off' name='Username' placeholder='<%= __("loginUsername") %>:' class='login--input' />
                        <div>
                            <input type='password' autocomplete='off' name='Password' placeholder='<%= __("loginPassword") %>:' class='login--input login__password'/>
                            <span class='eye login__open__eye' onclick='eye.toggleEye()'><i class="fas fa-eye"></i></span>
                            <span class='eye login__close__eye' onclick='eye.toggleEye()'><i class="fas fa-eye-slash"></i></span>
                            <span class='alert--status' style='opacity: 0;'> wrong </span>
                        </div>
                    </div>
                </div>
                <div class='login__button'>
                    <div class='login__button__tags'>
                        <div class='login__enter'> 
                            <button type='submit' value='Enter' class='form--button'><%= __("loginEnterButton") %></button>
                            <a class='link' href='signup'><%= __("loginSignUpMessage") %></a>
                        </div>
                        <button type='submit' value='Guest' class='form--button'><%= __("loginGuestButton") %></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <% include partials/footer %>
    <script src='/js/loginsign.js'></script>
</body>

</html>