<!DOCTYPE html>

<html>

<head>
    <title>Login</title>
    <% include partials/head %>

    <link rel='stylesheet' href='/css/loginsignup.css' type='text/css'/>
    <link rel='stylesheet' href='/css/login.css' type='text/css'/>
</head>

<body>
    <form>
    <div class='loginSignUpBackground'>
        <div class='loginSignUp__formBox'>
            <div class='loginSignUp__title'>
                <h1 class='h1--title'><%= __('loginTitle') %></h1>
            </div>
            <div class='login__input'>
                <div class='loginInput__box'>
                    <div class='loginSignUp__input'>
                        <input class='login--input' autocomplete='off' type='text' name='username' placeholder='<%= __("username") %>:'/>
                    </div>
                    <div class='loginSignUp__input'>
                        <input class='login--input password' autocomplete='off' type='password' name='password' placeholder='<%= __("password") %>:'/>
                        <span class='loginSignUp__eye' onclick='eye.toggleEye()'>
                            <i class="fas fa-eye-slash"></i>
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class='login__submit'>
                <div class='loginSubmit__box'>
                    <div class='loginSubmitBox__info'>
                        <div class='loginSubmitBoxInfo'>
                            <span class='alert--status'>{{ }}</span>
                        </div>
                        <div class='loginSubmitBoxInfo'>
                            <input type='checkbox' name='remember'/>
                            <label class='text'><%= __('rememberMe') %></label>
                        </div>
                        <div class='loginSubmitBoxInfo'>
                            <a class='link' href="/signup"><%= __('doesntHaveAccount') %></a>
                        </div>
                    </div>
                    <div class='loginSubmitBox__button'>
                        <div class='loginSubmitBoxButton'>
                            <button class='form--button' type='submit'><%= __('enter') %></button>
                        </div>
                        <div class='loginSubmitBoxButton'>
                            <button style='margin-bottom:7px' class='form--button' type='submit'><%= __('enterAsGuest') %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <% include partials/footer %>
    <script src='/js/loginsignup.js'></script>
</body>

</html>