<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title><%= __('Login') %></title>
</head>

<body>
<div id='app'>
  <fixed>
    <navigation-bar>
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'><%= __("Home") %></link-red></nav-element>
        <% if (locals.user) {%>
          <nav-element animation='pop2'><link-red href='/logout'><%= __("Logout") %></link-red></nav-element>          
          <nav-element animation='pop2'><link-red href='/user'><%= __("User") %></link-red></nav-element>
        <% } else { %>
          <nav-element animation='pop2'><link-red href='/login'><%= __("Login") %></link-red></nav-element>
        <% } %>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR' value='Português(Brasil)'></drop-link>
            <drop-link href='/en' value='English'></drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-left'>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/' value='<%= __("Home") %>'></drop-link>
            <% if (locals.user) {%>
              <drop-link href='/logout' value='<%= __("Logout") %>'></drop-link>
              <drop-link href='/user' value='<%= __("User") %>'></drop-link>
            <% } else {%>
              <drop-link href='/login' value='<%= __("Login") %>'></drop-link>
            <% } %>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR' value='Português(Brasil)'>Português(Brasil)</drop-link>
              <drop-link href='/en' value='English'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
  </fixed>
    <div class='centralizeContent'>
    <login-form :show='true' style='margin-top: 160px;'>
      <form method='post' action='/login'>
      <form-element class='centralizeContent' animation='pop1'>
        <title-big><%= __('LOGIN') %></title-big>
      </form-element>
      <form-element class='centralizeContent' animation='pop3'>
        <input-form placeholder='<%= __("Username") %>:' name='username'></input-form>
      </form-element>
      <form-element class='centralizeContent' animation='pop2'>
        <input-pass :opened='showPasswords' name='password' placeholder='<%= __("Password") %>:' @click='togglePasswordVisiblity'></input-pass>
      </form-element>
      <% if (locals.success_msg) { %>
        <form-element animation='pop5'>
          <success><%= __(String(success_msg)) %></success>
        </form-element>
      <% } %>
      <% if (locals.error) { %>
        <form-element animation='pop6'>
          <alert><%= __(String(error)) %></alert>
        </form-element>
      <% } %>
      <form-element animation='pop5'>
        <link-blue href='/sign-up'><%= __("Doesn't have an account? Sign up!") %></link-blue>
      </form-element>
      <form-element class='centralizeContent' animation='pop6'> 
        <form-button><%= __("Get things done") %></form-button>
      </form-element>
      <form-element animation='pop7'>
        <link-blue href='/password-or-username'><%= __("Forgot password/username?") %></link-blue>
      </form-element>
      </form>
    </login-form>
    </div>
    <div class='login-form-margin'></div>
</div>


<% include partials/footer %>
</body>

</html>
