<!DOCTYPE html>

<html lang='<%= __("lang") %>'>

<head>
    <title>Login</title>
    <% include partials/head %>

    <link rel='stylesheet' href='/css/loginsignup.css' type='text/css'/>
    <link rel='stylesheet' href='/css/sign.css' type='text/css'/>
</head>

<body>
    <form method='post' action='/users/signup'>
    <div class='loginSignUpBackground'>
        <div class='loginSignUp__formBox'>
            <div class='loginSignUp__title'>
                <h1 class='h1--title'><%= __('signTitle') %></h1>
            </div>
            <div class='signUp__input'>
                <div class='signUpInput__box'>
                    <div class='loginSignUp__input'>
                        <input class='login--input' autocomplete='off' type='text' name='email' placeholder='Email:'/>
                    </div>
                    <div class='loginSignUp__input'>
                        <input class='login--input' autocomplete='off' type='text' name='username' placeholder='<%= __("loginUsername") %>:'/>
                    </div>
                    <div class='loginSignUp__input'>
                        <input class='login--input password' autocomplete='off' type='password' name='password' placeholder='<%= __("loginSignUpPassword") %>:'/>
                        <span class='loginSignUp__eye' onclick='eye.toggleEye()'>
                            <i class="fas fa-eye-slash"></i>
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                        <div class='loginSignUp__input'>
                        <input class='login--input password' autocomplete='off' type='password' name='password2' placeholder='<%= __("loginPasswordConfirm") %>'/>
                        <span class='loginSignUp__eye' onclick='eye.toggleEye()'>
                            <i class="fas fa-eye-slash"></i>
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class='signUp__submit'>
                <div class='signUpSubmit__box'>
                    <div class='signUpSubmitBox__info'>
                        <span class='alert--status'><%= __(errors[0].msg) %></span>
                    </div>
                    <div class='signUpSubmitBox__button'>
                        <button style='margin-bottom: 20px' class='form--button' type='submit'><%= __('createAccount') %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <% include partials/footer %>
    <script src='/js/loginsignup.js'></script>
</body>

</html>