<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>User</title>
</head>

<body>
<div id='app'>
  <fixed>
    <navigation-bar :show='transitionsAndAnimations.initialTransitions'>
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'>Home</link-red></nav-element>
        <nav-element animation='pop2'><link-red href='/login'>Login</link-red></nav-element>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
            <drop-link href='/en'>English</drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/'>Home</drop-link>
            <drop-link href='/login'>Login</drop-link>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
              <drop-link href='/en'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
    <side-nav :show='transitionsAndAnimations.initialTransitions'>
      <side-title>
        <%= user.username %>
      </side-title>
      <side-link>
        <%= __('in-basket') %>
      </side-link>
      <side-link>
        <%= __('calendar') %>
      </side-link>
      <side-link>
        <%= __('next actions') %>
      </side-link>
      </br>
      </br>
      <side-link>
        <%= __('projects') %>
      </side-link>
      <side-link>
        <%= __('someday/maybe') %>
      </side-link>
      <side-link>
        <%= __('waiting') %>
      </side-link>
      </br>
      </br>
      <side-link href='/logout'>
        <%= __('logout') %>
      </side-link>
    </side-nav>
  </fixed>
  <a href='/logout'>logout</a>
</div>


<% include partials/footer %>
</body>

</html>