<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>User</title>
</head>

<body>
<div id='app'>
  <fixed>
    <navigation-bar :show='transitionsAndAnimations.initialTransitions'>
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'>Home</link-red></nav-element>
        <nav-element animation='pop2'><link-red href='/login'>Login</link-red></nav-element>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
            <drop-link href='/en'>English</drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-left'>
        <transition name='pop1'>
          <toggle-icon icon='fa fa-user' elid='side-nav' @toggle='toggleSideNav' :show='transitionsAndAnimations.sideBar'></toggle-icon>
        </template>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/'>Home</drop-link>
            <drop-link href='/login'>Login</drop-link>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
              <drop-link href='/en'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
    <side-nav :show='transitionsAndAnimations.sideBar'>
      <side-title>
        <%= user.username %>
      </side-title>
      <side-link animation='pop2' compo='basket' @click='changeComponent'>
        <%= __('in-basket') %>
      </side-link>
      <side-link animation='pop3' compo='calendar' @click='changeComponent'>
        <%= __('calendar') %>
      </side-link>
      <side-link animation='pop4' compo='next-actions' @click='changeComponent'>
        <%= __('next actions') %>
      </side-link>
      </br>
      </br>
      <side-link animation='pop5' compo='projects' @click='changeComponent'>
        <%= __('projects') %>
      </side-link>
      <side-link animation='pop6' compo='maybe' @click='changeComponent'>
        <%= __('someday/maybe') %>
      </side-link>
      <side-link animation='pop7' compo='waiting' @click='changeComponent'>
        <%= __('waiting') %>
      </side-link>
      </br>
      </br>
      <side-link href='/logout' animation='pop8'>
        <%= __('logout') %>
      </side-link>
    </side-nav>
  </fixed>
  <user-content>
    <template slot='content'>
      <transition name='component-animation'>
        <keep-alive>
          <component v-bind:is="currentSectionComponent"></component>
        </keep-alive>
      </transition>
    </template>
    <template slot='adds'>
      <adds>asdf
      </adds>
    </template>
  </user-content>
</div>


<% include partials/footer %>
</body>

</html>