<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>User</title>
</head>

<body>
<div id='app'>
  {{ setLanguage("<%= __('lang') %>") }}
  <fixed>
    <navigation-bar>
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'><%= __("Home") %></link-red></nav-element>
        <nav-element animation='pop2'><link-red href='/login'><%= __("Login") %></link-red></nav-element>
        <% if (locals.user) {%>
          <nav-element animation='pop2'><link-red href='/user'><%= __("User") %></link-red></nav-element>
        <% } %>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR' value='Português(Brasil)'></drop-link>
            <drop-link href='/en' value='English'></drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-left'>
        <transition name='pop1'>
          <toggle-icon icon='fa fa-user' elid='side-nav' @toggle='toggleSideNav' :show='showSideBar'></toggle-icon>
        </template>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/' value='<%= __("Home") %>'></drop-link>
            <drop-link href='/login' value='<%= __("Login") %>'></drop-link>
            <% if (user) {%>
              <drop-link href='/user' value='<%= __("User") %>'></drop-link>
            <% } %>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR' value='Português(Brasil)'>Português(Brasil)</drop-link>
              <drop-link href='/en' value='English'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
    <side-nav :show='showSideBar'>
      <side-title :username='username'>
      </side-title>
      <side-link animation='pop1' :i='0' compo='basket' @click='changeSectionComponent' :active='openedComponents[0]'>
        <%= __('in-basket') %>
      </side-link>
      <side-link animation='pop2' :i='1' compo='calendar' @click='changeSectionComponent' :active='openedComponents[1]'>
        <%= __('calendar') %>
      </side-link>
      <side-link animation='pop3' :i='2' compo='next-actions' @click='changeSectionComponent' :active='openedComponents[2]'>
        <%= __('next actions') %>
      </side-link>
      </br>
      <side-link animation='pop4' :i='3' compo='projects' @click='changeSectionComponent' :active='openedComponents[3]'>
        <%= __('projects') %>
      </side-link>
      <side-link animation='pop5' :i='4' compo='maybe' @click='changeSectionComponent' :active='openedComponents[4]'>
        <%= __('someday/maybe') %>
      </side-link>
      <side-link animation='pop6' :i='5' compo='waiting' @click='changeSectionComponent' :active='openedComponents[5]'>
        <%= __('waiting') %>
      </side-link>
      </br>
      <% if (!locals.guest) { %>
        <side-link animation='pop7' :i='6' compo='settings' @click='changeSectionComponent' :active='openedComponents[6]'><%= __('settings') %></side-link>
        <side-link href='/logout' animation='pop8'>
          <%= __('logout') %>
        </side-link>
      <% } %>
      <% if (locals.guest) { %>
        <blocked-side-link animation='pop8'>
          <%= __('settings') %>
        </blocked-side-link>
        <side-link href='/logout-create' animation='pop8'>
          <%= __('create account') %>
        </side-link>
      <% } %>
      </br>
      <select-option :placeholder='l.placeSpan' :selected='place' @update='(newPlace)=>this.place = newPlace' animation='pop9'>
        <drop-link value='show all'></drop-link>
        <drop-link value='home'></drop-link>
        <drop-link value='work'></drop-link>
      </select-option>
      <double-icon animation='pop9'>
        <action-bar-icon icon='fa fa-plus' id='addPlace' @click='openUserForm' :title='l.createAPlace'></action-bar-icon>
        <action-bar-icon icon='fa fa-times' id='deletePlace' @click='openUserForm' :title='l.deleteCurrentPlace'></action-bar-icon>
      </double-icon>
    </side-nav>
    <transition name='double-slide-bounce-unpop' mode='out-in'>    
      <action-form v-if='displayForm("addAction")' key='addAction' @close='closeActionForm' :l='l'>
        <form-element animation='pop1'>
          <title-big class='centralizeContent'><%= __('ADD ACTION') %></title-big>
        </form-element>
        <form-element animation='pop2'>
          <text-box placeholder='<%= __("TITLE") %>' :rows='2' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
        </form-element>
        <form-element animation='pop3'>
          <text-box placeholder='<%= __("DESCRIPTION") %>' :rows='8' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
        </form-element animation='pop4'>
        <form-element class='centralizeContent' animation='pop5'>
          <form-button @click='addAction'><%= __('Add action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='addProject' v-else-if='displayForm("addProject")' @close='closeActionForm' :l='l'>
        <form-element animation='pop1'>
          <title-big class='centralizeContent'><%= __('ADD PROJECT') %></title-big>
        </form-element>
        <form-element animation='pop2'>
          <text-box :rows='2' placeholder='<%= __("TITLE") %>' :value='tempUser.project.title' @change='(v) => tempUser.project.title = v'></text-box>
        </form-element>
        <form-element animation='pop3' class='centralizeContent'>
          <form-button @click='addProject'><%= __('Add project') %></form-button>
        </form-element>
      </action-form>
      <action-form key='editAction' v-else-if='displayForm("editAction")' @close='closeActionForm' :l='l'>
        <form-element animation='pop1'>
          <title-big class='centralizeContent'><%= __('EDIT ACTION') %></title-big>
        </form-element>
        <form-element animation='pop2'>
          <text-box placeholder='<%= __("TITLE") %>' :rows='2' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
        </form-element>
        <form-element animation='pop3'>
          <text-box placeholder='<%= __("DESCRIPTION") %>' :rows='8' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
        </form-element animation='pop4'>
        <form-element class='centralizeContent' animation='pop5'>
          <form-button @click='editAction'><%= __('Edit action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='editTag' v-else-if='displayForm("editTag")' @close='closeActionForm' :l='l'>
        <form-element animation='pop1'>
          <title-big class='centralizeContent'><%= __('CHANGE/ADD TAG') %></title-big>
        </form-element>
        <form-element class='centralizeContent' animation='pop2'>
          <icon-selection :selected='tempUser.action.tag'>
            <icon-option icon='fa fa-hourglass-half' option='waiting'  :title='l.waiting'></icon-option>
            <icon-option icon='fa fa-question' option='maybe' :title='l.somedaymaybe'></icon-option>
            <icon-option icon='fa fa-forward' option='nextAction' :title='l.nextAction'></icon-option>
            <icon-option icon='fa fa-calendar-alt' option='calendar' :title='l.calendar'></icon-option>
          </icon-selection>
        </form-element>
        <form-element animation='pop3' v-if='tempUser.action.tag == "calendar"'>
          <datetime-form :date='tempUser.action.calendar.date' :time='tempUser.action.calendar.time' @change='(dt) => {tempUser.action.calendar.date = dt.date;tempUser.action.calendar.time = dt.time}' @update='(dt) => {tempUser.action.calendar.validDate = dt.date;tempUser.action.calendar.validTime = dt.time}' :openedform='currentOpenedUserForm'>
          </datetime-form>
        </form-element>
        <form-element class='centralizeContent' animation='pop4'>
          <form-button @click='editTag'><%= __('Edit tag') %></form-button>
        </form-element>
      </action-form>
      <action-form key='actionToProject' v-else-if='displayForm("actionToProject")' @close='closeActionForm' :l='l'>
        <form-element animation='pop1' class='centralizeContent'>
          <title-big><%= __('CREATE/ADD TO PROJECT') %></title-big>
        </form-element>
        <form-element animation='pop2' class='centralizeContent'>
          <comp-selector :selected='transformActionProject' @change='(v) => transformActionProject = v' :user='user' :l='l'>
            <comp-option compname='create-project' :l='l'><%= __('Create project') %></comp-option>
            <comp-option compname='add-to-project' :l='l'><%= __('Add to project') %></comp-option>
          </comp-selector>
        </form-element>
      </action-form>
      <action-form key='addActionToProject' v-else-if='displayForm("addActionToProject")' @close='closeActionForm' :l='l'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('ADD ACTION TO PROJECT') %></title-big>
        </form-element>
        <form-element class='centralizeContent' animation='pop2'>
          <form-button @click='openUserForm({id: "projectAddAction"}, false)'><%= __('Add existing action') %></form-button>
        </form-element>
        <form-element class='centralizeContent' animation='pop3'>
          <form-button @click='openUserForm({id: "projectCreateAction"}, false)'><%= __('Create new action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='projectAddAction' v-else-if='displayForm("projectAddAction")' @close='closeActionForm' :l='l'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('ADD ACTION') %></title-big>
        </form-element>
        <form-element class='centralizeContent' animation='pop2'>
          <div class='form-content'>
            <select-option v-if='user' :placeholder='l.selectAProject' class='centralizeContentMargin' :selected='tempUser.project.selected' @update='(v) => {tempUser.project.selected = v.value;tempUser.project.id2 = v.id}' :nonlive='true'>
              <drop-link v-for='action in user.actions' v-if='!action.projectId &&action.projectId != 0' :value='action.title' :id='action.id'></drop-link>
            </select-option>
          </div>
        </form-element>
        <form-element class='centralizeContent' animation='pop3'>
        <form-button @click='addAlreadyExistingAction'><%= __('Add action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='projectCreateAction' v-else-if='displayForm("projectCreateAction")' @close='closeActionForm' :l='l'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('CREATE ACTION') %></title-big>
        </form-element>
        <form-element animation='pop2'>
          <text-box :rows='2' placeholder='<%= __("TITLE") %>' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
        </form-element>
        <form-element animation='pop3'>
          <text-box placeholder='<%= __("DESCRIPTION") %>' :rows='8' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
        </form-element animation='pop4'>
        <form-element class='centralizeContent' animation='pop3'>
          <form-button @click='projectCreateAndAddAction'><%= __('Add action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='editProject' v-else-if='displayForm("editProject")' @close='closeActionForm' :l='l'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('EDIT PROJECT TITLE') %></title-big>
        </form-element>
        <form-element animation='pop3'>
          <text-box :rows='2' placeholder='<%= __("TITLE") %>' :value='tempUser.project.title' @change='(v) => tempUser.project.title = v'></text-box>
        </form-element>
        <form-element class='centralizeContent' animation='pop3'>
          <form-button @click='editProjectTitle'><%= __('Edit title') %></form-button>
        </form-element>
      </action-form>
      <action-form key='addTimedAction' v-else-if='displayForm("addTimedAction")' @close='closeActionForm' :l='l'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('ADD TIMED ACTION') %></title-big>
        </form-element>
        <form-element animation='pop2'>
          <text-box placeholder='<%= __("TITLE") %>' :rows='2' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
        </form-element>
        <form-element animation='pop3'>
          <text-box placeholder='<%= __("DESCRIPTION") %>' :rows='8' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
        </form-element animation='pop4'>
        <form-element animation='pop5'>
          <datetime-form :date='tempUser.action.calendar.date' :time='tempUser.action.calendar.time' @change='(dt) => {tempUser.action.calendar.date = dt.date;tempUser.action.calendar.time = dt.time}' @update='(dt) => {tempUser.action.calendar.validDate = dt.date;tempUser.action.calendar.validTime = dt.time}' :openedform='currentOpenedUserForm'>
          </datetime-form>
        </form-element>
        <form-element class='centralizeContent' animation='pop6'>
          <form-button @click='addNonProjectTimedAction'><%= __('Add action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='editTimedAction' v-else-if='displayForm("editTimedAction")' @close='closeActionForm' :l='l'>
        <form-element class='centralizeContent' animation='pop1'>
          <title-big><%= __('EDIT TIMED ACTION') %></title-big>
        </form-element>
        <form-element animation='pop2'>
          <text-box placeholder='<%= __("TITLE") %>' :rows='2' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
        </form-element>
        <form-element animation='pop3'>
          <text-box placeholder='<%= __("DESCRIPTION") %>' :rows='8' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
        </form-element animation='pop4'>
        <form-element animation='pop5'>
          <datetime-form :date='tempUser.action.calendar.date' :time='tempUser.action.calendar.time' @change='(dt) => {tempUser.action.calendar.date = dt.date;tempUser.action.calendar.time = dt.time}' @update='(dt) => {tempUser.action.calendar.validDate = dt.date;tempUser.action.calendar.validTime = dt.time}' :openedform='currentOpenedUserForm'>
          </datetime-form>
        </form-element>
        <form-element class='centralizeContent' animation='pop6'>
          <form-button @click='editTimedAction'><%= __('Edit action') %></form-button>
        </form-element>
      </action-form>
      <action-form key='editTimedTag' v-else-if='displayForm("editTimedTag")' @close='closeActionForm' :l='l'>
        <form-element animation='pop1'>
          <title-big class='centralizeContent'><%= __('CHANGE/ADD TAG') %></title-big>
        </form-element>
        <form-element class='centralizeContent' animation='pop2'>
          <icon-selection :selected='tempUser.action.tag'>
            <icon-option icon='fa fa-hourglass-half' option='waiting'></icon-option>
            <icon-option icon='fa fa-question' option='maybe'></icon-option>
            <icon-option icon='fa fa-forward' option='nextAction'></icon-option>
          </icon-selection>
        </form-element>
        <form-element class='centralizeContent' animation='pop3'>
          <form-button @click='editTimedTag'><%= __('Edit tag') %></form-button>
        </form-element>
      </action-form>
      <action-form key='changePlace' v-else-if='displayForm("changePlace")' @close='closeActionForm' :l='l'>
        <form-element animation='pop1'>
          <title-big class='centralizeContent'><%= __('CHANGE PLACE') %></title-big>
        </form-element>
        <form-element class='centralizeContent'>
          <div class='form-content'>
            <select-option :placeholder='l.selectAPlace' class='centralizeContentMargin' :selected='tempUser.action.place' @update='(newPlace)=>this.tempUser.action.place = newPlace'>
              <drop-link value='show all'></drop-link>
              <drop-link value='home'></drop-link>
              <drop-link value='work'></drop-link>
            </select-option>
          </div>
          </select-option>
        </form-element>
        <form-element class='centralizeContent' animation='pop3'>
          <form-button><%= __('Change place') %></form-button>
        </form-element>      
      </action-form>
    </transition>
  </fixed>
  <user-content>
    <template slot='content'>
      <transition name='component-animation' appear>
        <component v-if='user' :is="currentSectionComponent" @openform='openUserForm' :icongroups='showIconGroups' :user='user' @rearrange='saveNewActionOrder' :dropdowns='openedActionContents' @dropdown-state='changeDropdownSate' :projectdropdowns='openedProjectDropdowns' @rearrangeproject='saveNewProjectOrder' :l='l' :place='place'></component>
      </transition>
    </template>
    <template slot='adds'>
      <adds>
      <template v-if='user'>
    <h5>ACTIONS</h5>
    <p v-for='action in user.actions'>{{action}}</p>
    <h5>PROJECTS</h5>
    <p v-for='action in user.projects'>{{action}}</p>
  </template> 
      </adds>
    </template>
  </user-content>
  <% if (locals.guest) { %>
    {{ activateGuest() }}
  <% } %>
</div>

<% include partials/footer %>
<script>
  vm.getUser()
</script>
</body>

</html>

<!--
  <template v-if='user'>
    <h5>ACTIONS</h5>
    <p v-for='action in user.actions'>{{action}}</p>
    <h5>PROJECTS</h5>
    <p v-for='action in user.projects'>{{action}}</p>
  </template>
-->