<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>User</title>
</head>

<body>
<div id='app'>
  <fixed>
    <navigation-bar>
      <template slot='desktop-left'>
        <nav-element animation='pop1'><link-red href='/'>Home</link-red></nav-element>
        <nav-element animation='pop2'><link-red href='/login'>Login</link-red></nav-element>
      </template>
      <template slot='desktop-right'>
        <nav-element animation='pop2'>
          <dropdown type='link-red' placeholder="<%= __('default_language') %>">
            <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
            <drop-link href='/en'>English</drop-link>
          </dropdown>
        </nav-element>
      </template>
      <template slot='mobile-left'>
        <transition name='pop1'>
          <toggle-icon icon='fa fa-user' elid='side-nav' @toggle='toggleSideNav' :show='showSideBar'></toggle-icon>
        </template>
      </template>
      <template slot='mobile-right'>
        <transition name='pop2'>
          <nav-dropdown>
            <drop-link href='/'>Home</drop-link>
            <drop-link href='/login'>Login</drop-link>
            <sub-dropdown placeholder="<%= __('default_language') %>">
              <drop-link href='/pt-BR'>Português(Brasil)</drop-link>
              <drop-link href='/en'>English</drop-link>
            </sub-dropdown>
          </nav-dropdown>
        </transition>
      </template>
    </navigation-bar>
    <side-nav :show='showSideBar'>
      <side-title>
        <% if (locals.user) { %>
          <%= user.username %>
        <% } %>
      </side-title>
      <side-link animation='pop2' :i='0' compo='basket' @click='changeSectionComponent' :active='openedComponents[0]'>
        <%= __('in-basket') %>
      </side-link>
      <side-link animation='pop3' :i='1' compo='calendar' @click='changeSectionComponent' :active='openedComponents[1]'>
        <%= __('calendar') %>
      </side-link>
      <side-link animation='pop4' :i='2' compo='next-actions' @click='changeSectionComponent' :active='openedComponents[2]'>
        <%= __('next actions') %>
      </side-link>
      </br>
      </br>
      <side-link animation='pop5' :i='3' compo='projects' @click='changeSectionComponent' :active='openedComponents[3]'>
        <%= __('projects') %>
      </side-link>
      <side-link animation='pop6' :i='4' compo='maybe' @click='changeSectionComponent' :active='openedComponents[4]'>
        <%= __('someday/maybe') %>
      </side-link>
      <side-link animation='pop7' :i='5' compo='waiting' @click='changeSectionComponent' :active='openedComponents[5]'>
        <%= __('waiting') %>
      </side-link>
      </br>
      </br>
      <side-link href='/logout' animation='pop8'>
        <%= __('logout') %>
      </side-link>
    </side-nav>
    <action-form :currentform='currentOpenedUserForm' id='addAction' @close='closeActionForm'>
      <form-element animation='pop1'>
        <title-big class='centralizeContent'>ADD ACTION</title-big>
      </form-element>
      <form-element animation='pop2'>
        <text-box placeholder='TITLE' :rows='2' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
      </form-element>
      <form-element animation='pop3'>
        <text-box placeholder='DESCRIPTION' :rows='4' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
      </form-element animation='pop4'>
      <form-element class='centralizeContent' animation='pop5'>
        <form-button @click='addAction'>Add action</form-button>
      </form-element>
    </action-form>
    <action-form :currentform='currentOpenedUserForm' id='addProject' @close='closeActionForm'>
      <form-element animation='pop1'>
        <title-big class='centralizeContent'>ADD PROJECT</title-big>
      </form-element>
      <form-element animation='pop2'>
        <text-box :rows='2' placeholder='TITLE'></text-box>
      </form-element>
      <form-element animation='pop3' class='centralizeContent'>
        <form-button>Add project</form-button>
      </form-element>
    </action-form>
    <action-form :currentform='currentOpenedUserForm' id='editAction' @close='closeActionForm'>
     <form-element animation='pop1'>
        <title-big class='centralizeContent'><%= __('EDIT ACTION') %></title-big>
      </form-element>
      <form-element animation='pop2'>
        <text-box placeholder='TITLE' :rows='2' :value='tempUser.action.title' @change='(v) => tempUser.action.title = v'></text-box>
      </form-element>
      <form-element animation='pop3'>
        <text-box placeholder='DESCRIPTION' :rows='4' :value='tempUser.action.description' @change='(v) => tempUser.action.description = v'></text-box>
      </form-element animation='pop4'>
      <form-element class='centralizeContent' animation='pop5'>
        <form-button @click='editAction'>Add action</form-button>
      </form-element>
    </action-form>
    <action-form :currentform='currentOpenedUserForm' id='editTag' @close='closeActionForm'>
      <form-element animation='pop1'>
        <title-big class='centralizeContent'><%= __('CHANGE/ADD TAG') %></title-big>
      </form-element>
      <form-element class='centralizeContent' animation='pop2'>
        <icon-selection :selected='tempUser.action.tag'>
          <icon-option icon='fa fa-hourglass-half' option='waiting'></icon-option>
          <icon-option icon='fa fa-question' option='maybe'></icon-option>
          <icon-option icon='fa fa-forward' option='nextAction'></icon-option>
          <icon-option icon='fa fa-calendar-alt' option='calendar'></icon-option>
        </icon-selection>
      </form-element>
      <form-element class='centralizeContent' animation='pop3'>
        <form-button @click='editAction'>Add action</form-button>
      </form-element>
    </action-form>
  </fixed>
  <user-content>
    <template slot='content'>
      <transition name='component-animation' appear>
        <keep-alive>
          <component v-if='user' :is="currentSectionComponent" @openform='openUserForm' :icongroups='showIconGroups' :user='user' @rearrange='saveNewActionOrder' :dropdowns='openedActionContents' @dropdown-state='changeDropdownSate'></component>
        </keep-alive>
      </transition>
    </template>
    <template slot='adds'>
      <adds>{{tempUser.action.tag}}
      </adds>
    </template>
  </user-content>
</div>


<% include partials/footer %>
<script>
  vm.getUser()
</script>
</body>

</html>