<!doctype html>

<html lang='<%= __("_lang") %>'>

<head>
    <title>login</title>
    <% include ../partials/head %>
</head>

<body>
<div id='navBar' class='alignContent'>
    <div class='alignContent' class='navBar__left'>
        <div class='navBar__element'>
            <a href='/' class='noUnderline--link'><%= __('home') %></a>
        </div>
        <div class='navBar__element'>
            <a href='/user/login' class='noUnderline--link'><%= ('login') %></a>
        </div>
    </div>
    <div class='navBar__right rowReversed'>
        <div class='navBar__element dropdown'>
            <a class='noUnderline--link' href='#'><%= __('_current_language') %></a>
            <div class='card align--text hided'>
                <div class='dropdown__element'>
                    <a class='noUnderline--link' href='/en'>english</a>
                </div>
                <div class='dropdown__element'>
                    <a class='noUnderline--link' href='/pt-BR'>português (Brasil)</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>


<form method='post' action='/users/login'>
<div id='background' class='centralizeContent'>
    <div class='form slide--effect card'>
        <div>
            <div class='form__element'>
                <input class='form--input--text' name='username' type='text' autocomplete='off' placeholder='<%= __("Username") %>:' />
            </div>
            <div class='form__element passwordEye'>
                <input class='form--input--text' name='password' type='password' autocomplete='off' placeholder='<%= __("Password") %>:' />
                <span onclick='formEyes.toggleEyes("0.4s")'>
                    <i class="fas fa-eye form--eye hided"></i>
                    <i class="fas fa-eye-slash form--eye"></i>
                </span>
            </div>
            <div class='form__element'>
            <% if (locals.success_msg) { %>
                <span class='status--success'><%= __(String(success_msg)) %></span>
            <% } %>
            <% if (locals.error) { %>
                <span class='status--success'><%= __(String(error)) %></span>
            <% } %>
            
            </div>
            <div class='form__element'>
                <a href='/user/signup'><%= __("Create_account") %></a>
            </div>
            <div class='form__element centralizeContent'>
                <button class='form--button' type='submit'><%= __('Enter') %></button>
            </div>
            <div class='form__element'>
                <a href='/user/send-email'><%= __("Forgot_password_or_username") %>?</a>
            </div>
        </div>
    </div>
</div>
</form>

<% include ../partials/footer %>
</body>

</html>