<!doctype html>

<html lang='<%= __("_lang") %>'>

<head>
    <title>login</title>
    <% include ../partials/head %>
</head>

<body>
<div id='navBar' class='alignContent'>
    <div class='alignContent' class='navBar__left'>
        <div class='navBar__element'>
            <a href='/' class='noUnderline--link'><%= __('home') %></a>
        </div>
        <div class='navBar__element'>
            <a href='/user/login' class='noUnderline--link'><%= ('login') %></a>
        </div>
    </div>
    <div class='navBar__right rowReversed'>
        <div class='navBar__element dropdown'>
            <a class='noUnderline--link' href='#'><%= __('_current_language') %></a>
            <div class='card align--text hided'>
                <div class='dropdown__element'>
                    <a class='noUnderline--link' href='/en'>english</a>
                </div>
                <div class='dropdown__element'>
                    <a class='noUnderline--link' href='/pt-BR'>português (Brasil)</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>


<form method='post' action='/users/forgot'>
<div id='background' class='centralizeContent'>
    <div class='form slide--effect card'>
        <div>
            <div class='form__element'>
                <span class='text'><%= __('Enter_the_email_used_to_create_your_account') %>.</span>
            </div>
            <div class='form__element'>
                <input class='form--input--text' name='email' type='text' autocomplete='off' placeholder='Email:' />
            </div>
            <div class='form__element'>
                <% if (locals.error) { %>
                    <span class='status--alert'><%= __(String(error)) %></span>
                <% } %>
                <% if (locals.success_msg) { %>
                    <span class='status--alert'><%= __(String(success_msg)) %></span>
                <% } %>
            </div>
            <div class='form__element centralizeContent'>
                <button class='form--button' type='submit'><%= __('Send_email') %></button>
            </div>
        </div>
    </div>
</div>
</form>

<% include ../partials/footer %>
</body>

</html>