<!doctype html>

<html lang='<%= __("_lang") %>'>

<head>
    <title>login</title>
    <% include ../partials/head %>
</head>

<body>


<div id='background' class='centralizeContent'>
    <% include ../partials/menu %>

    <form method='post' action='/users/forgot'>
    <div class='form slide--effect card'>
        <div>
            <div class='form__element'>
                <span class='text'><%= __('Enter_the_email_used_to_create_your_account') %>.</span>
            </div>
            <div class='form__element'>
                <input class='form--input--text' name='email' type='text' autocomplete='off' placeholder='Email:' />
            </div>
            <div class='form__element'>
                <% if (locals.error) { %>
                    <span class='status--alert'><%= __(String(error)) %></span>
                <% } %>
                <% if (locals.success_msg) { %>
                    <span class='status--alert'><%= __(String(success_msg)) %></span>
                <% } %>
            </div>
            <div class='form__element centralizeContent'>
                <button class='form--button' type='submit'><%= __('Send_email') %></button>
            </div>
        </div>
    </div>
    </form>

</div>
<% include ../partials/footer %>
</body>

</html>