<!doctype html>

<html lang='<%= __("_lang") %>'>

<head>
    <title>Create account</title>
    <% include ../partials/head %>
</head>

<body>
<div id='background' class='centralizeContent'>
    <div class='form slide--effect'>
        <div>
            <div class='form__element'>
                <input class='form--input--text' name='username' type='text' autocomplete='off' placeholder='<%= __("Username") %>:' />
            </div>
            <div class='form__element'>
                <input class='form--input--text' name='email' type='text' autocomplete='off' placeholder='Email:' />
            </div>
            <div class='form__element passwordEye'>
                <input class='form--input--text' name='password' type='password' autocomplete='off' placeholder='<%= __("Password") %>:' />
                <span onclick='formEyes.toggleEyes("0.4s")'>
                    <i class="fas fa-eye form--eye hided"></i>
                    <i class="fas fa-eye-slash form--eye"></i>
                </span>
            </div>
            <div class='form__element passwordEye'>
                <input class='form--input--text' name='password2' type='password' autocomplete='off' placeholder='<%= __("Confirm_password") %>:' />
                <span onclick='formEyes.toggleEyes("0.4s")'>
                    <i class="fas fa-eye form--eye hided"></i>
                    <i class="fas fa-eye-slash form--eye"></i>
                </span>
            </div>
            <div class='form__element'>
                <span class='status--alert'>Wrong Password</span>
            </div>
            <div class='form__element centralizeContent'>
                <button class='form--button'><%= __('Create_account') %></button>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>
</body>

</html>